# Names / Patterns that specify which files Git should ignore
#
# Copyright (c) 2018 DPRG CDM Data.  This is free software released
# under the MIT License.  See `LICENSE.txt` for details.

# Ignore backups
*~
